<div ng-controller="comparadorCtrl">
	<form name="formComparador">
		<div class="row">
			<div class="col-sm-5">
				<input class="form-control" ng-model="primeiraOpcao" ng-required="true" style="margin-bottom: 5px;" placeholder="Informe a primeira opção..." title="Primeira opção" />
			</div>
			<div class="col-sm-5">
				<input class="form-control" ng-model="segundaOpcao" ng-required="true" style="margin-bottom: 5px;" placeholder="Informe a segunda opção..." title="Primeira opção" />
			</div>
		
			<div class="col-sm-2">
				<button type="button" ng-click="pesquisar(primeiraOpcao, segundaOpcao)" class="btn btn-info btn-block bg-antares">
					<i class="icon ion-ios-search-strong"></i>
				</button>
			</div>
		</div>
	</form>

	<br />
    <div class="d-flex justify-content-center">
    	<img src="web/imagens/loader.gif" ng-if="loading" alt="Analisando sentimento..." />
    </div>

	<div ng-if="mostrarGrafico" id="charts">
	    <canvas id="chartLinha"></canvas>
    </div>
</div>