<div class="row">
    <div class="col-sm-9">
        <div class="alert alert-danger col-sm-9" ng-if="error && searchForm.$invalid">
            <strong>Valor inválido!</strong> Informe uma empresa, produto ou serviço.
        </div>
    </div>

    <div class="col-sm-9">
        <form name="searchForm">
            <div class="row">
                <div class="col-sm-9 input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar por..." ng-model="search" aria-
                                describedby="btnGroupAddon" name="search" ng-keyup="keyEvent($event, searchForm, search)" ng-required="true" />
                    <button type="button" class="input-group-addon btn btn-outline-info bg-antares" ng-click="pesquisar(searchForm.$invalid, search)" id="btnGroupAddon">
                        <i class="icon ion-ios-search-strong"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>