<script src="web/lib/JQuery/jquery-3.2.1.min.js"></script>
<script src="web/lib/bootstrap/bootstrap.min.js"></script>
<script src="web/lib/angular/angular.js"></script>
<script src="web/lib/Chartjs/dist/Chart.js"></script>
<script src="web/js/app.js"></script>
<script src="web/js/controllers/antaresCtrl.js"></script>
<script src="web/js/controllers/loginCtrl.js"></script>
<script src="web/js/controllers/analiseSentimentoCtrl.js"></script>
<script src="web/js/controllers/comparadorCtrl.js"></script>
<script src="web/js/controllers/cadastroUsuarioCtrl.js"></script>
<script src="web/js/controllers/headerCtrl.js"></script>
<script src="web/js/services/antaresAPIService.js"></script>
<script src="web/js/services/graficoAPIService.js"></script>
<script src="web/js/interceptors/loadingInterceptor.js"></script>
<script src="web/js/config/interceptorsConfig.js"></script>